body, html {
	font-family: "Inter",'-apple-system','BlinkMacSystemFont',"San Francisco","Segoe UI",'Roboto',"Helvetica Neue",sans-serif;
	color: #000;
	background: none;
}
.full {
	background: url(../img/bg1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a, a:hover {
	color: #000;
	text-decoration: none;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #b5adaa;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.logo {
	font-size: 56px;
	font-weight: 700;
	color: #fff;
	letter-spacing: -1px;
	text-align: left;
}
.logo i {
	font-size: 42px;
}
.trampoline {
	width: 40rem;
}

.coming-soon {
	padding-top: 50px;
	margin: 0 auto;
}
.coming-soon h2 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.4em;
	padding: 120px 0 0px 0;
	text-align: center;
}
.coming-soon p {
	font-size: 18px;
	color: #000;
	margin-top: 4rem;
}

.coming-soon input {
	height: 56px;
    padding: 8px 20px;
    box-shadow: none;
	font-size: 16px;
	width: 40%;
	max-width: 30rem;
	border: 0!important;
    font-weight: 400;
    line-height: 1.5;
    color: #54504f;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline: none;
}

.coming-soon input[type="submit"] {
	padding: 10px 25px;
    box-shadow: none;
    background: #e3b17f;
    border: 0;
    color: #fff;
    position: relative;
	width: 25%;
	max-width: 15rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.coming-soon input[type="submit"]:hover {
	background-color: #54504f;
}

.coming-soon .counter {
	margin: 0 0 60px 0;
	color: #e3b17f;
}
.counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
	display: inline-block;
	margin: 0 60px 0 0;
	font-size: 18px;
	text-align: center;
	color: rgba(255,255,255,0.6);
}
.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
	font-size: 120px;
	line-height: 120px;
	color: rgba(255,255,255,0.9);
}
.social {
	margin-top: 80px;
	margin-bottom: 60px;
}
.social a {
	color: #cc3333;
	font-size: 28px;
	display: inline-block;
	margin: 0 40px 0 0;
}
.social a:hover {
	color: #fff;
}
.copyright {
	font-size: 14px;
	margin: 20px 0 10px 0;
	color: rgba(255,255,255,0.6)
}
.copyright a {
	color: rgba(255,255,255,0.7);
}
.copyright a:hover {
	color: #cc3333;
}

.container {
	text-align: center;
}

@media (max-width: 979px) {
	.counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
		width: 140px;
		height: 120px;
		margin: 7px;
		padding-top: 20px;
	}
	.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
		font-size: 60px;
		line-height: 70px;
	}
	.logo {
		text-align: center;
	}
	.trampoline {
		width: 30rem;
	}
}
